@{
    Layout = "~/Views/Shared/Layoutweb.cshtml";
}
<link href="~/Content/css/style.css" rel="stylesheet" />
<div class="content-section col-md">
    <div><br /></div>
    <br />

    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@
    @*Write your code here*@

    @*<div style="width: 100%; max-width>*@
        <h1 >Committees</h1>
        <ul style="list-style-type: disc; margin-top: 40px; padding-left: 80px;">
            <li style="font-size: 16px;"><a href="@Url.Action("ChairsAndCoChairs", "Home")" style="text-decoration: none; color: #0000FF; cursor: pointer;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Chairs & Co-Chairs</a></li>
            <li style="font-size: 16px;"><a href="@Url.Action("AdvisoryCommittee", "Home")" style="text-decoration: none; color: #0000FF; cursor: pointer;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Advisory Committee</a></li>
            <li style="font-size: 16px;"><a href="@Url.Action("TechnicalCommittee", "Home")" style="text-decoration: none; color: #0000FF; cursor: pointer;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Technical Programme Committee (TPC)</a></li>
            <li style="font-size: 16px;"><a href="@Url.Action("EditorialBoard", "Home")" style="text-decoration: none; color: #0000FF; cursor: pointer;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Editorial Board</a></li>
            <li style="font-size: 16px;"><a href="@Url.Action("IEEEOversightCommittee", "Home")" style="text-decoration: none; color: #0000FF; cursor: pointer;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">IEEE Oversight Committee (INDIACom-2025)</a></li>
            <li style="font-size: 16px;"><a href="@Url.Action("LocalOrganisingCommittee", "Home")" style="text-decoration: none; color: #0000FF; cursor: pointer;" onmouseover="this.style.textDecoration='underline'" onmouseout="this.style.textDecoration='none'">Local Organizing Committee</a></li>
        </ul>
    </div>
</div>
<div><br /></div>


